@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 30px;
  overflow-y: auto;
  height: 100%;
}
.adminorder h5 {
  font-size: 14px;
}
.adminorder h4 {
  font-weight: 600;
  margin-bottom: 8px;
}
.data span {
  padding-right: 10px;
}
.sidebar span {
  color: #dc2626;
}
.sidebar li {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.scrollbar {
  max-height: 450px;
  overflow-y: auto;
  padding-right: 15px;
}
.scrollbar::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px; /* width of the entire scrollbar */
}
.allorder span {
  font-weight: 600;
}
.scrollbar::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: #f2f2f2; /* color of the tracking area */
}

.scrollbar::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: #dc2626; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}
.cartfont h4 {
  font-size: 18px;
  font-weight: 700;
}
.adminproduct .btn {
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 80px;
  border: none;
  outline: none;
  padding: 4px 0;
  margin-bottom: 4px;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
form input,
form select,
form textarea {
  outline: none;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
a {
  color: inherit;
  text-decoration: none;
}
.content h4 {
  border-bottom: 1px solid #cecbcb;
  margin-bottom: 6px;
  padding-bottom: 6px;
}
select option {
  background-color: #cecbcb;
  padding: 8px 0;
}

.hover-img {
  overflow: hidden;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
}
.img-hover:hover .hover-img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.img-hover {
  overflow: hidden;
}
/* carosel */
.banner-carosel .slick-slider {
  line-height: 0;
}
.banner-carosel .slick-prev::before,
.banner-carosel .slick-next:before,
.product_carosel .slick-next:before {
  color: #000;
  font-size: 45px;
}
.banner-carosel .slick-next {
  height: auto;
  z-index: 555;
  right: 55px;
}
.banner-carosel .slick-prev {
  height: auto;
  z-index: 555;
  left: 25px;
}
/* product carosel */
.product_carosel .slick-next {
  height: auto;
  z-index: 555;
  top: -30px;
  right: 25px;
}
.theme_changes .product_carosel .slick-prev:before,
.theme_changes .testmonalis_wrapper .slick-prev:before,
.theme_changes .testmonalis_wrapper .slick-next:before {
  display: none;
}
.theme_changes .product_carosel .slick-next:before {
  color: #f2f2f2;
}
.testmonalis:before {
  content: open-quote;
}

.testmonalis:after {
  content: close-quote;
}

.testmonalis:before,
.testmonalis:after {
  display: inline;
  font-size: 50px;
  color: #dc2626;
  padding: 0;
  position: relative;
  top: 0.25em;
}
.testmonalis_wrapper {
  overflow: hidden;
}
.testmonalis_wrapper .slick-dots li button:before {
  font-size: 12px;
}
.testmonalis_wrapper .slick-dots li.slick-active button:before {
  color: #dc2626;
}
.testmonalis_wrapper .slick-dots li button:before {
  color: gray;
}
.brand-logo .rfm-marquee {
  min-width: auto;
}
.theme_changes {
  background-color: #000 !important;
  color: #f2f2f2;
}

.price-range-progress-container {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.price-range-progress-bar {
  height: 100%;
  background-color: #007bff; /* Set your desired progress bar color */
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.price-range-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price-range-inputs input {
  width: 100px;
}
/* for-input-range */
.input_range_price {
  padding: 25px 0;
}
.input_range_price .input-range__track--active {
  background: #dc2626;
}
.input_range_price .input-range__slider {
  background: #dc2626;
  border-color: #dc2626;
}
.input_range_price .input-range__label-container {
  color: #000;
  font-size: 16px;
}
.theme_changes .input_range_price .input-range__label-container {
  color: #f2f2f2;
  font-size: 16px;
}
.input_range_price .input-range__label--max .input-range__label-container {
  left: 15%;
}
.input_range_price .input-range__label--value .input-range__label-container {
  left: -75%;
}
.input_range_price .input-range__label--value {
  top: -33px;
}
.input_range_price .input-range__label.input-range__label--max,
.input-range__label--max .input-range__label.input-range__label--min {
  bottom: -25px;
}
.grid-cols-3,.grid-cols-2,.grid-cols-1{
  display: grid;
}
.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media screen and (max-width: 600px) {
  .data span {
    padding-right: 0px;
  }
  .day {
    display: block;
  }
  .hide {
    display: none;
  }
  .input_range_price .input-range__label-container {
    font-size: 13px;
  }
}
@media screen and (max-width: 640px) {
  .responsive a {
    color: #f2f2f2;
  }
  .hidedata {
    display: none;
  }
  form input,
  form select,
  form textarea {
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .banner-carosel .slick-prev {
    left: 10px;
  }
  .banner-carosel .slick-next {
    right: 10px;
  }
  .banner-carosel .slick-prev::before,
  .banner-carosel .slick-next:before,
  .product_carosel .slick-prev::before,
  .product_carosel .slick-next:before {
    font-size: 20px;
  }
  .product_carosel .slick-next {
    top: -27px;
  }
  .testmonalis_wrapper .slick-dots li button:before {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .newdata1 {
    flex-basis: 45% !important;
    flex-wrap: wrap;
  }
  .newdata1 input {
    width: 100%;
  }
  .newdata2 {
    flex-basis: 45% !important;
  }
  .content h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .Toastify .Toastify__toast-container {
    width: 100%;
    max-width: 250px;
    top: 65px;
    right: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  body {
    line-height: 24px;
  }
  .sidebar li {
    font-size: 15px;
    padding-bottom: 5px;
  }
}
