@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 30px;
  overflow-y: auto;
  height: 100%;
}
.adminorder h5{
  font-size: 14px;
}
.adminorder h4{
  font-weight: 600;
  margin-bottom: 8px;
}
.data span{
  padding-right: 10px;
}
.sidebar span{
color:#dc2626;
}
.sidebar li{
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.scrollbar{
  max-height: 450px;
  overflow-y: auto;
  padding-right: 15px;
}
.scrollbar::-webkit-scrollbar,textarea::-webkit-scrollbar {
  width: 8px;    
  border-radius: 20px;             /* width of the entire scrollbar */
}
.allorder span{
  font-weight: 600;
}
.scrollbar::-webkit-scrollbar-track,textarea::-webkit-scrollbar-track {
  background: #f2f2f2;        /* color of the tracking area */
}

.scrollbar::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
  background-color:#dc2626;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}
.cartfont h4{
  font-size: 18px;
  font-weight: 700;
}
.adminproduct .btn{
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 14px;
  max-width: 80px;
  border: none;
  outline: none;
  padding: 4px 0;
  margin-bottom: 4px;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
form input,form select,form textarea{
  outline: none;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
a {
  color: inherit;
  text-decoration: none;
}
.content h4{
  border-bottom: 1px solid #cecbcb;
  margin-bottom: 6px;
  padding-bottom: 6px;
}
@media screen and (max-width:600px) {
  .data span{
    padding-right: 0px;
  }
  .day{
    display: block;
  }
  .hide{
    display: none;
  }
}
@media screen and (max-width:640px) {
  .responsive a{
      color: #f2f2f2;    
  }
  .hidedata{
    display:none;
  }
  form input,form select,form textarea{
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
}
@media screen and (max-width:400px) {
  .newdata1{
    flex-basis: 45% !important;
    flex-wrap: wrap;
  }
  .newdata1 input{
    width: 100%;
  }
  .newdata2{
    flex-basis: 45% !important;
  }
  .content h4{
    font-size: 15px;
  }
}
@media screen and (max-width: 480px){
  .Toastify .Toastify__toast-container {
      width: 100%;
      max-width: 250px;
      top: 65px;
      right: 0 !important;
  }       
} 
@media screen and (max-width:768px){
  body{
    line-height: 24px;
  }
  .sidebar li{
    font-size: 15px;
    padding-bottom: 5px;
  }
}